:root {
    /* Color */
    --pr-color: #036;
    --sc-color: rgb(230, 230, 5);
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 82px;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.carousel-container {
    margin: 2rem 0;
}

.carousel-inner {
    border-radius: 20px;
}

.carousel-inner > .carousel-item > img {
    text-align: center;
    max-height: 78vh;
}

/* navbar style */
.navbar {
    background-color: var(--pr-color);
}

.bnn-logo {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 4rem;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}
.sm-icons {
    flex-direction: row;
}
.sm-icons .nav-link {
    padding-right: 1em;
}

.navbar-brand {
    margin-left: 1rem;
}

/* news content section */
.news-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-title {
    color: var(--pr-color);
    padding: 1rem;
    font-size: 48px;
    border-bottom: solid var(--sc-color) 5px;
}

.content-title-detail {
    color: var(--pr-color);
    padding: 1rem;
    font-size: 48px;
}

.content-title-2 {
    color: var(--pr-color);
}

.content-title-underline {
    border-bottom: solid var(--sc-color) 5px;
    border-radius: 2px;
    padding-bottom: 10px;
}

.populer-underline {
    border-bottom: solid var(--sc-color) 5px;
}

.card {
    margin: 3rem 2rem;
}

.card-populer {
    margin: 2rem 0;
}

.content-images {
    box-shadow: -5px 1px 22px 0px rgba(0, 0, 0, 0.58);
}

/* pendaftaran content section */
.pendaftaran-online {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    font-size: 32px;
    color: var(--pr-color);
}

.label {
    color: var(--pr-color);
}

.pendaftaran-online-underline {
    border-bottom: solid var(--sc-color) 5px;
}

.pasienBaru {
    width: 400px;
    height: 300px;
    border: solid var(--pr-color) 3px;
}
.pasienLama {
    width: 400px;
    height: 300px;
    border: solid var(--sc-color) 3px;
}

/* footer style */

.footer-container {
    background-color: var(--pr-color);
}
