body {
    font-family: "Poppins", sans-serif;
    padding-top: 82px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

.container-fluid {
    padding: 0;
    margin: 0;
}

:root {
    /* Color */
    --pr-color: #4158d0;
    /* --sc-color: */
}

/* Carousel Style */
/* .carousel-inner {
    width: 100%;
    min-height: 90vh !important;
} */

.carousel-container {
    margin: 2rem 0;
}

.carousel-inner {
    border-radius: 20px;
}

.carousel-inner > .carousel-item > img {
    text-align: center;
    max-height: 78vh;
}

/* navbar style */
.navbar {
    background-color: var(--pr-color);
}

.bnn-logo {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 4rem;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}
.sm-icons {
    flex-direction: row;
}
.sm-icons .nav-link {
    padding-right: 1em;
}

.navbar-brand {
    margin-left: 1rem;
}

/* news content section */
.news-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-title {
    color: var(--pr-color);
    padding: 2rem;
    font-size: 48px;
}

.content-title-2 {
    color: var(--pr-color);
}

.card {
    margin: 3rem 2rem;
}

.card-populer {
    margin: 2rem 0;
}

/* pendaftaran content section */
.pendaftaran-online {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    font-size: 36px;
    color: var(--pr-color);
}

/* footer style */

.footer-container {
    background-color: var(--pr-color);
}
