/* navbar style */
.bnn-logo {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 4rem;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff;
}
.sm-icons {
    flex-direction: row;
}
.sm-icons .nav-link {
    padding-right: 1em;
}
